* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #767676;
    background: #FAFAFA;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    border-bottom: 4px solid #0770AA;
}
.header__wrapper {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: inherit;
}
.header__phone a {
    font-weight: bold;
    color: #2A2A2A;
}

.menu-nav ul {
    display: flex;
}
.menu-nav li {
    margin: 0 20px;
    list-style-type: none;
}
.menu__mobile {
    width: 40px;
    padding: 5px 0;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.menu__mobile span {
    display: block;
    width: 100%;
    height: 3px;
    background: #00283F;
    border-radius: 3px;
}

.overlay {
    position: fixed;
    left: -150vw;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: left 0.5s;
}
.overlay-visible {
    left: 0;
    transition: left 0.5s;
}

.menu {
    position: absolute;
    z-index: 5;
    width: 30%;
    background: #0770AA;
    height: 100vh;
    top: 0;
    left: -150vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.7s;
}
.menu__close {
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    top: 2%;
    right: 7%;
    cursor: pointer;
    font-size: 36px;
    color: #FFFFFF;
    border: none;
}
.menu nav {
    width: 100%;
}
.menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.menu__item {
    width: 100%;
    height: 50px;
    list-style-type: none;
}
.menu__item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.menu-visible {
    left: 0;
    transition: left 0.7s;
}

.main {
    padding: 150px 0 30px 0;
}
.main__wrapper {
    width: 100%;
    display: flex;
    position: relative;
}
.main__title {
    font-size: 58px;
    line-height: 50px;
    color: #2A2A2A;
    text-transform: uppercase;
}
.main__title span {
    font-size: 30px;
    text-transform: none;
}
.main__description {
    margin-top: 15px;
    max-width: 490px;
    color: #767676;
    line-height: 150%;
}
.main__buttons {
    margin: 45px 0;
    display: flex;
}
.button {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0770AA;
    border: none;
    cursor: pointer;
    outline: transparent;
    letter-spacing: 0.07em;
    border-radius: 3px;
}
.button_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 230px;
    height: 60px;
    text-decoration: none;
}
.main__img {
    width: 630px;
    position: absolute;
    top: -30px;
    right: -30px;
}
.main__img img {
    width: 100%;
}

.about {
    padding: 140px 0 70px 0;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #2A2A2A;
}
.about__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__img {
    width: 520px;
}
.about__img img {
    width: 100%;
}
.about__reasons {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__description {
    max-width: 535px;
}
.about__description .title {
    margin-bottom: 40px;
    text-align: left;
}
.about__text {
    margin: 0px auto 20px auto;
    line-height: 150%;
}
.about__text:last-child {
    margin-bottom: 0;
}

.advantages {
    padding: 70px 0;
}
.advantages__wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantages__item {
    margin: 30px 10px;
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.advantages__icon {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.advantages__icon_1 {
    background-image: url('../img/icon1.svg');
}
.advantages__icon_2 {
    background-image: url('../img/icon2.svg');
}
.advantages__icon_3 {
    background-image: url('../img/icon3.svg');
}
.advantages__icon_4 {
    background-image: url('../img/icon4.svg');
}
.advantages__icon_5 {
    background-image: url('../img/icon5.svg');
}
.advantages__icon_6 {
    background-image: url('../img/icon6.svg');
}
.advantages__subtitle {
    width: 230px;
    margin-top: 20px;
    color: #2A2A2A;
    font-weight: 700;
    text-align: center;
}
.advantages__text {
    margin-top: 10px;
    width: 260px;
    font-size: 16px;
    text-align: center;
}

.product {
    padding: 70px 0;
}
.product__wrapper {
    margin-top: 50px;    
}
.product__subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #2A2A2A;
}
.swiper-container {
    margin: 30px 0 40px 0;
    padding: 0 52px;
    width: 100%;
    height: 340px;
    position: relative;
}
.swiper-slide {
    width: 330px;
}
.swiper-button-prev, 
.swiper-button-next {
    width: 40px;
    height: 360px;
    background-color: #FFFFFF;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
}
.swiper-button-prev {
    left: -1px;
    background-position: left center;
    background-color: #FAFAFA;
    background-image: url('../img/prev.svg');    
}
.swiper-button-next {
    right: -1px;
    background-position: right center;
    background-color: #FAFAFA;
    background-image: url('../img/next.svg');    
}
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    background-image: url('../img/prev-dis.svg');  
}
.swiper-button-next.swiper-button-disabled {
    opacity: 1;
    background-image: url('../img/next-dis.svg');  
}
.card {
    width: 100%;
    height: 340px;
    padding: 40px 30px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 5px;
}
.card__descr {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.card__mark {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #2A2A2A;
}
.card__price {
    font-weight: bold;
    font-size: 24px;
    color: #2A2A2A;
}
.card__price span {
    font-size: 44px;
}
.card__button {
    width: 100%;
    height: 60px;
}

.delivery {
    padding: 70px 0;
}
.delivery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery__image {
    width: 520px;
}
.delivery__image img {
    width: 100%;
}
.delivery__block {
    margin-top: 40px;
    width: 458px;
    display: flex;
    flex-direction: column;
}
.delivery__item {
    height: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery__item:last-child {
    margin-bottom: 0;
}
.delivery__value {
    font-weight: 700;
    color: #2A2A2A;
}

.info {
    padding: 70px 0;
}
.info .title {
    text-align: left;
}
.info__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.info__contacts {
    width: 46%;
}
.info__contacts-block {
    margin-top: 70px;
}
.info__contacts-line {
    display: flex;
}
.info__contacts-item {
    margin-bottom: 40px;
}
.phone {
    margin-right: 60px;
}
.info__contacts-name {
    margin-bottom: 15px;
    font-weight: bold;
    color: #2A2A2A
}
.info__contacts-value {
    line-height: 150%;
}
.info__contacts-value a {
    text-decoration: none;
    color: inherit;
    line-height: 150%;
}
.info__requisites {
    width: 46%;
}
.info__requisites .title {
    margin-bottom: 70px;
}
.info__requisites-block {
    display: flex;
}
.info__requisites-item {
    margin-bottom: 40px;
}
.info__requisites-name {
    margin-right: 7px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #2A2A2A;
}
.column {
    width: 200px;
    margin-right: 60px;
}

.footer {
    width: 100%;
    background: #0770AA;
}
.footer__wrapper {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__policy a, .footer__authors a {
    color: #FFFFFF;
    font-size: 12px;
}

.map {
    position: relative;
}
.map__source_2 {
    display: none;
}
.recall {
    padding: 60px 40px 40px 40px;
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 1140px) / 2;
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid rgba(118, 118, 118, 0.5);
}

.modal {
    padding: 60px 40px 40px 40px;
    width: 400px;
    height: 532px;
    background-color: #E4F7FD;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: -150vw;
    transform: translate(-50%, -50%);
    transition: left 0.7s;
}
.modal-visible {
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.7s;
}
.modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__input {
    margin-bottom: 20px;
    width: 100%;
    height: 60px;  
    padding: 0 15px;
    outline: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: 1px solid rgba(118, 118, 118, 0.5);
    border-radius: 3px;
}
.modal__button {
    margin-top: 30px;
    width: 100%;
    height: 60px;
}
.modal__close {
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    font-size: 30px;
    color: #0770AA;
    border: none;
    outline: transparent;
}
.modal__textarea {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(118, 118, 118, 0.5);
}
.modal__input::placeholder {
    color: #7E7E7E;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.modal__textarea::placeholder {
    color: #7E7E7E;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
label {
    line-height: 150%;
    font-size: 14px;
}
label a {
    color: inherit;
}

.policy__conditions {
    padding: 70px 0 50px 0;
}

.policy__subtitle {
    margin: 40px 0 15px 0;
    color: #2A2A2A;
    font-weight: 700;
}

.policy__text {
    margin-bottom: 10px;
}

.policy__text li {
    margin-top: 7px;
    margin-left: 40px;
}

.policy__text a {
    color: inherit;
}

.button_policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 70px auto;
    width: 230px;
    height: 60px;
    text-decoration: none;
}


@media(max-width: 1300px) {
    .container {
        width: 1100px;
    }
    .card {
        width: 290px;
        padding: 40px 30px;
    }
    .card__button {
        width: 230px;
    }
    .card__price {
        font-size: 20px;
    }
    .card__price span {
        font-size: 36px;
    }
    .phone {
        margin-right: 40px;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 960px;
    }
    .menu-nav {
        display: none;
    }
    .menu__mobile {
        display: flex;
    }
    .header__phone {
        width: 210px;
        text-align: right;
    }
    .main__img {
        width: 450px;
        top: 0;
    }

    .about__description {
        width: 480px;
    }
    .about__reasons {
        width: 600px;
        margin-top: 30px;
    }
    .about__img {
        width: 400px;
    }
    .delivery__image {
        width: 400px;
    }
    .info__contacts-line {
        flex-direction: column;
    }
}

@media(max-width: 1100px) {

    .container {
        width: 900px;
    }
    .main {
        padding-bottom: 35px;
        height: 480px;
    }
    .main__title {
        font-size: 50px;
        line-height: 43px;
    }
    .main__description {
        max-width: 475px;
    }
    .about__description {
        width: 430px;
    }
    .delivery__block {
        width: 430px;
    }
    
}

@media(max-width: 992px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 700px;
    }
    .menu {
        width: 50%;
    }
    .main {
        width: 100%;
        height: 870px;
        padding-top: 70px;
    }
    .main__wrapper {
        justify-content: center;
    }
    .main__img {
        width: 80%;
        top: 380px;
        left: 50%;
        transform: translate(-50%);
    }
    .about {
        padding: 35px 0;
    }
    .about__wrapper {
        flex-direction: column-reverse;
    }
    .about__img {
        margin-top: 50px;
    }
    .advantages {
        padding: 35px 0;
    }
    .advantages__wrapper {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
    .advantages__item {
        width: 220px;
    }
    .advantages__subtitle {
        width: 200px;
    }
    .advantages__text {
        width: 230px;
    }
    .product {
        padding: 35px 0;
    }
    .product__subtitle {
        font-size: 18px;
    }
    .card {
        width: 290px;
        padding: 40px 30px;
    }
    .card__descr,
    .card__mark {
        font-size: 18px;
    }
    .card__button {
        width: 230px;
        height: 60px;
    }
    .card__price {
        font-size: 20px;
    }
    .card__price span {
        font-size: 36px;
    }
    .delivery {
        padding: 35px 0;
    }
    .delivery__wrapper {
        flex-direction: column;
    }
    .delivery__image {
        margin-top: 50px;
    }
    .info {
        padding: 35px 0;
    }
    .info__contacts {
        width: 35%;
    }
    .info__requisites {
        width: 55%;
    }
    .info__contacts-block {
        margin-top: 40px;
    }
    .info__contacts-item {
        margin-bottom: 25px;
    }
    .info__contacts-name,
    .info__requisites-name {
        margin-bottom: 10px;
    }
    .info__requisites .title {
        margin-bottom: 40px;
    }
    .info__requisites-item {
        margin-bottom: 25px;
    }
    .recall {
        display: none;
    }
    .map__source_1 {
        display: none;
    }
    .map__source_2 {
        display: block;
    }
    .form__wrapper {
        flex-direction: column;       
    }
}

@media(max-width: 768px) {
    .container {
        width: 520px;
    }
    .header__phone {
        display: none;
    }
    .menu {
        width: 50%;
    }
    .main {
        height: 715px;
    }
    .main__title {
        line-height: 90%;
    }
    .main__buttons {
        margin-top: 30px;   
    }
    .button_main {
        width: 220px;
    }
    .main__img {
        top: 325px;
    }
    .about__reasons {
        width: 500px;
        justify-content: space-around;
    }
    .advantages__text {
        width: 100%;
        max-width: 260px;
    }
    .title {
        margin: 0 auto;
    }
    .product__wrapper {
        margin-top: 40px;
    }
    .product__subtitle {
        font-size: 20px;
    }
    .info__wrapper {
        flex-direction: column;
    }
    .info__contacts, .info__requisites {
        width: 80%;
        margin: 0 auto;
    }
    .info__contacts-block {
        margin-top: 40px;
    }
    .info__contacts-item {
        margin-bottom: 30px;
    }
    .info__requisites {
        margin-top: 40px;
    }

}

@media(max-width: 576px) {
    .container {
        width: 85%;
    }
    .header {
        height: 80px;
    }
    .header__wrapper {
        height: 80px;
    }
    .header__logo {
        width: 60%;
    }
    .header__logo img {
        width: 100%;
        object-fit: contain;
    }
    .menu {
        width: 80%;
    }
    .main {
        height: 790px;
    }
    .main__title {
        font-size: 48px;
        line-height: 120%;
    }
    .main__title span {
        margin-top: -10px;
        font-size: 24px;
        display: block;
    }
    .main__description {
        margin-top: 5px;
    }
    .main__buttons {
        margin: 25px 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .button_main {
        width: 100%;
        margin: 5px 0;
    }
    .main__img {
        width: 100%;
        top: 495px;
    }
    .about__description {
        width: 100%;
    }
    .about__text {
        font-size: 18px;
        text-align: left;
    }
    .about__img {
        width: 100%;
    }
    .advantages__item {
        width: 100%;
    }
    .advantages__subtitle {
        width: 100%;
    }
    .product__subtitle {
        margin: 0 auto;
        font-size: 16px;
        max-width: 85%;
    }
    .swiper-container {
        padding: 0;
        height: 300px;
    }
    .card {
        width: 240px;
        height: 300px;
        padding: 30px 15px 20px;
    }
    .card__price {
        font-size: 18px;
    }
    .card__button {
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .delivery__block {
        width: 100%;
    }
    .delivery__name {
        max-width: 150px;
    }
    .delivery__image {
        width: 100%;
    }
    .info__contacts, .info__requisites {
        width: 100%;
    }
    .info__requisites-block {
        flex-direction: column;
    }
    .check__wrapper label {
        font-size: 12px;
    }
    .modal {
        width: 320px;
        height: 505px;
        padding: 50px 20px 30px 20px;
    }
}
